{{#*inline "page_content"}}
<div
    class="border-b bg-white border-gray-300 px-6 py-2 shadow-sm  text-xl font-bold">
    <div class="h-14 min-h-fit sm:flex sm:items-center sm:justify-between">
        <div>
            <div class="flex items-center">
                <h2
                    class="text-lg font-medium text-gray-800 dark:text-white">
                    {{translate_key "edit_admin_user" ~}}
                </h2>
            </div>
        </div>

    </div>

</div>
<div>
    <!-- -->
    <div class="px-4">
        <form enctype="multipart/form-data" action="/admin/update-admin-user/{{ admin_user_model.id }}" method="post">
            <div
                class="mb-6 ">
                <div
                    class="grid gap-4 mt-5 p-5 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
                    <div class="text-gray-600">
                        <p class="font-medium text-lg">
                            {{ translate_key "personal_details" ~}} 
                        </p>
                        <p>
                            {{ translate_key "please_fill_out_all_the_fields" ~}} 
                        </p>
                    </div>

                    <div class="lg:col-span-2">
                        <div class="md:col-span-6">
                            <div class="flex items-center">
                                <div>
                                    {{#if admin_user_model.profile_image }}

                                        <img 
                                            src="{{ admin_user_model.profile_image }}" 
                                            class="w-32 aspect-square h-32 rounded-full"
                                            alt="{{ admin_user_model.full_name }}" />
                                    {{ else }}
                                        <div class="flex items-center justify-center text-5xl text-white rounded-full h-32 w-32 bg-primary-500">
                                            A
                                        </div>
                                    {{/if }}
                                </div>

                                <div class="ml-5">
                                    <input type="hidden" name="existing_profile_image" value="{{admin_user_model.profile_image }}" />
                                    {{> components/input 
                                        type="file"
                                        name="image"
                                        value=""
                                        class=""
                                    }}
                                </div>
                            </div>
                        </div>

                        <div
                            class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-6">
                            <div class="md:col-span-6">
                                <label for="full_name">
                                    {{ translate_key "full_name" ~}}
                                </label>
                                <div class="mt-1">
                                    <input id="full_name" name="full_name" value="{{ admin_user_model.full_name }}"
                                        type="text" 
                                        class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-purple-500 focus:border-purple-500 focus:z-10 sm:text-sm"
                                    />
                                </div>
                                <div class="text-sm text-red-600 mt-3 px-2">
                                    {{ validation_error_full_name }}
                                </div>
                            </div>

                            <div class="md:col-span-6">
                                {{> components/label 
                                    label=(translate_key "is_super_admin")
                                    for="is_super_admin"
                                }}
                                <div class="mt-1">
                                    {{> components/switch 
                                        name="is_super_admin"
                                        init_value=admin_user_model.is_super_admin
                                        class=""
                                    }}
                                </div>
                                {{#if validation_is_super_admin_message  }}
                                    {{> components/input-error 
                                        error_message=validation_is_super_admin_message
                                    }}
                                {{/if}}
                            </div>

                            <div class="md:col-span-6">
                                <label for="email">
                                    {{ translate_key "email_address" ~}}
                                </label>
                                <div class="mt-1">
                                    <input id="email" disabled name="email" value="{{ admin_user_model.email }}"
                                        type="text" 
                                        class="disabled:bg-gray-400 appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-purple-500 focus:border-purple-500 focus:z-10 sm:text-sm"
                                    />
                                </div>
                                <div class="text-sm text-red-600 mt-3 px-2">
                                    {{ validation_error_email }}
                                </div>
                            </div>

                            <div class="md:col-span-5 mt-5 text-right">
                                <div class="inline-flex items-end">
                                    <button type="submit"
                                        class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-primary-600 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500">
                                        {{ translate_key "submit" ~}}
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{{/inline}}

{{> layout/app}}
