
<div class="relative flex p-2" 
       {{#if init_value }}
              x-data="{toggle: true }" 
       {{ else }}
              x-data="{toggle: false }" 
       {{/if}} 
       x-on:click="toggle=!toggle"
>
       <input 
          type="checkbox"
              
          {{#if id}}
             id="{{ id }}"
          {{ else }}
             id="{{ name }}"
          {{/if}}
              
          {{#if name}}
             name="{{ name }}"
          {{/if}}

          x-model="toggle"

           {{#if value}}
              value="{{ value }}"
           {{ else }}
              value="true"
           {{/if}}

          class="appearance-none peer absolute opacity-5 left-1/2 -translate-x-1/2 rounded-md"

       />
       <span
              class="w-12 h-6 flex items-center flex-shrink-0 
                     p-1 bg-gray-300 rounded-full 
                     duration-300 ease-in-out peer-checked:bg-primary-600 
                     after:w-5 after:h-5 after:bg-white after:rounded-full 
                     after:shadow-md after:duration-300 
                     peer-checked:after:translate-x-5"></span>
</div>
