<div 
    x-on:click="toggle == 'true' ? toggle = 'false' : toggle = 'true'"
    class="flex justify-center items-center" 
       {{#if init_value }}
              x-data="{toggle: 'true' }" 
       {{ else }}
              x-data="{toggle: 'false' }" 
       {{/if}}
>
  
  <div class="relative rounded-full w-12 h-6 transition duration-200 ease-linear"
       :class="[toggle == 'true' ? 'bg-primary-500' : 'bg-gray-400']">
       <label for="toggle"
           class="absolute left-0 bg-white border-2 mb-2 w-6 h-6 rounded-full transition transform duration-100 ease-linear cursor-pointer"
           :class="[toggle == 'true' ? 'translate-x-full border-primary-500' : 'translate-x-0 border-gray-400']">
       
       </label>
    <input 
       type="hidden" 
       
       {{#if id}}
              id="{{ id }}"
       {{ else }}
              id="{{ name }}"
       {{/if}}

       {{#if name}}
              name="{{ name }}"
       {{/if}}

       x-model="toggle == 'true' ? 1 : 0"
       class="sr-only appearance-none bg-transparent border-none w-full h-full active:outline-none focus:outline-none"
       />
  </div>
</div>
