{{#*inline "page_content"}}
    <div class="border-b bg-white border-gray-300 px-6 py-2 shadow-sm  text-xl font-bold">
        <div class="h-14 min-h-fit sm:flex sm:items-center sm:justify-between">
            <div>
                <div class="flex items-center">
                    <h2 class="text-lg font-medium text-gray-800 dark:text-white">
                        {{translate_key "show_component" ~}}
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div>
        <!-- -->
        <div class="px-4 mb-6 ">
            <div class="grid gap-4 mt-5 p-5 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
                <div class="text-gray-600">
                    <p class="font-medium text-lg">
                        {{ translate_key "personal_details" ~}}
                    </p>
                    <p>
                        {{ translate_key "please_fill_out_all_the_fields" ~}}
                    </p>
                </div>

                <div class="lg:col-span-2">
                    <div class="grid mt-5 gap-4 grid-cols-2 md:grid-cols-2">
                        <div class="md:col-span-1">
                            {{ translate_key "name" ~}}
                        </div>
                        <div class="md:col-span-1">
                            {{ component_model.name }}
                        </div>

                        <div class="md:col-span-1">
                            {{ translate_key "identifier" ~}}
                        </div>
                        <div class="md:col-span-1">
                            {{ component_model.identifier }}
                        </div>
                    </div>
                    <form method="post" 
                        action="/admin/delete-component/{{ component_model.id }}"
                        id="delete-component-hidden-form"
                    >
                    </form>
                    <div x-data class="grid mt-5 gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-6">
                        <div class="md:col-span-6 mt-5 text-right">
                            <div class="inline-flex items-end">
                                <button 
                                    type="submit"
                                    x-on:confirmation-confrimed.window="document.getElementById('delete-component-hidden-form').submit()"
                                    x-on:click="$dispatch('confirmation-toggle', {confirmation_message: 'are you sure do you want to delete this component?'})"
                                    class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-primary-600 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500">
                                    {{ translate_key "delete_component" ~}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/inline}}

{{> layout/app}}
