{{#*inline "page_content"}}
    <div
            class="border-b bg-white border-gray-300 px-6 py-2 shadow-sm  text-xl font-bold">
        <div class="h-14 min-h-fit sm:flex sm:items-center sm:justify-between">
            <div>
                <div class="flex items-center">
                    <h2
                            class="text-lg font-medium text-gray-800 dark:text-white">
                        {{translate_key "create" ~}}&nbsp;{{translate_key "page" ~}}
                    </h2>
                </div>
            </div>

        </div>

    </div>
    <div>
        <!-- -->
        <div x-data="page_builder" class="px-4">
            <form action="/admin/update-page/{{ page_model.id }}"  method="post">
                <div class="mb-6 ">
                    <div class="grid gap-4 mt-5 p-5 gap-y-2 text-sm grid-cols-1 lg:grid-cols-6">
                        <div class="text-gray-600">
                            <p class="font-medium text-lg">
                                {{ translate_key "basic_detail" ~}}
                            </p>
                            <p>
                                {{ translate_key "please_fill_out_all_the_fields" ~}}
                            </p>
                        </div>

                        <div class="lg:col-span-5">
                            <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-6">

                                <div class="md:col-span-6 mt-5">
                                    {{> components/label
                                            label=(translate_key "name")
                                            for="name"
                                    }}
                                    <div class="mt-1">
                                        {{> components/input
                                                type="name"
                                                name="name"
                                                autofocus=true
                                                value=page_model.name
                                                is_required=true
                                        }}
                                    </div>
                                    {{#if validation_name_message }}
                                        {{> components/input-error
                                                error_message=validation_name_message
                                        }}
                                    {{/if}}
                                </div>

                                <div class="md:col-span-6">
                                    {{> components/label
                                            label=(translate_key "identifier")
                                            for="identifier"
                                    }}
                                    <div class="mt-1">
                                        {{> components/input
                                                type="text"
                                                name="identifier"
                                                value=page_model.identifier
                                        }}
                                    </div>
                                    {{#if validation_identifier_message }}
                                        {{> components/input-error
                                                error_message=validation_identifier_message
                                        }}
                                    {{/if}}
                                </div>

                                <div class="md:col-span-6">
                                    <textarea name="content" id="easy_mde">{{{ page_model.content }}}</textarea>
                                </div>


                                <div class="md:col-span-6 mt-5 text-right">
                                    <div class="inline-flex items-end">
                                        <button type="submit"
                                                class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-primary-600 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500">
                                            {{ translate_key "submit" ~}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{{/inline}}

{{> layout/app}}
