{{#*inline "page_content"}}
<div
    class="border-b border-gray-300 px-6 py-2 shadow-sm  text-xl font-bold">
    <div class="h-14 min-h-fit sm:flex sm:items-center sm:justify-between">
        <div>
            <div class="flex items-center">
                <h2
                    class="text-lg font-medium text-gray-800 dark:text-white">
                    {{translate_key "page" ~}}
                </h2>

                <span
                    class="ml-2 px-3 py-1 text-xs text-blue-600 bg-blue-100 rounded-full dark:bg-gray-800 dark:text-blue-400">
                    {{ page_paginate.count }} {{translate_key "page" ~}}
                </span>
            </div>
        </div>

        <div class="flex items-center">
            
            <a
                href="/admin/create-page"
                class="flex items-center justify-center w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-blue-500 rounded-lg shrink-0 sm:w-auto gap-x-2 hover:bg-blue-600 dark:hover:bg-blue-500 dark:bg-blue-600">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>

                <span>Add {{ translate_key "page" ~}}</span>
            </a>
        </div>
    </div>

</div>

<div>
    <!-- -->
    <div class="pt-5 pb-10">
        
        <div class="px-4 mx-auto">
            
            <!-- <div class="t-6 md:flex md:items-center md:justify-between">

                <div class="ml-auto flex items-center mt-4 md:mt-0">
                    <span class="absolute">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor"
                            class="w-5 h-5 mx-3 text-gray-400 dark:text-gray-600">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                        </svg>
                    </span>

                    <input type="text" placeholder="Search"
                        class="block w-full py-1.5 pr-5 text-gray-700 bg-white border border-gray-200 rounded-lg md:w-80 placeholder-gray-400/70 pl-11 rtl:pr-11 rtl:pl-5 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-blue-300 focus:outline-none focus:ring focus:ring-opacity-40">
                </div>
            </div> -->

            <div class="flex flex-col mt-6">
                <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div
                        class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                        <div
                            class="overflow-hidden border border-gray-200 dark:border-gray-700 md:rounded-lg">
                            <table
                                class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                                <thead class="bg-gray-50 dark:bg-gray-800">
                                    <tr>
                                        <th scope="col"
                                            class="py-2 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                            <button
                                                class="flex items-center gap-x-3 focus:outline-none">
                                                <span>
                                                    {{ translate_key "name" ~}}
                                                </span>
                                            </button>
                                        </th>

                                        <th scope="col"
                                            class="px-4 py-2 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                            {{ translate_key "identifier" ~}}
                                        </th>
                                        

                                        <th scope="col"
                                            class="px-4 py-2 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                            {{ translate_key "created_at" ~}}
                                        </th>

                                        <th scope="col"
                                            class="px-4 py-2 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                            {{ translate_key "updated_at" ~}}
                                        </th>

                                        <th scope="col"
                                            class="px-4 py-2 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                            {{ translate_key "created_by" ~}}
                                        </th>
                                        <th scope="col"
                                            class="px-4 py-2 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                            {{ translate_key "updated_by" ~}}
                                        </th>

                                        <th scope="col"
                                            class="relative py-3.5 px-4">
                                            <span class="sr-only">{{ translate_key "edit" ~}}</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody
                                    class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
                                    {{#each page_pagination.data as |page|}}
                                        <tr>
                                            <td class="px-4 py-1 text-sm font-medium whitespace-nowrap">
                                                <a
                                                    href="/admin/show-page/{{ page.id }}"
                                                    class="px-1 py-1 text-gray-500"
                                                >
                                                    {{ page.name }}
                                                </a>
                                            </td>
                                            <td class="px-4 py-1 text-sm font-medium whitespace-nowrap">
                                                <a
                                                    href="/admin/show-page/{{ page.id }}"
                                                    class="px-1 py-1 text-gray-500"
                                                >
                                                    <div class="flex items-center">
                                                       
                                                        <span class="ml-2">
                                                            {{ page.identifier }}
                                                        </span>
                                                    </div>
                                                </a>

                                            </td>
                                          
                                            <td  class="px-4 py-1 text-sm whitespace-nowrap">
                                                <a
                                                    href="/admin/show-page/{{ page.id }}"
                                                    class="px-1 py-1 text-gray-500"
                                                >
                                                    {{ page.created_at }}
                                                </a>

                                            </td>
                                            <td
                                                class="px-4 py-1 text-sm whitespace-nowrap">
                                                <!-- <div class="flex items-center">
                                                    <img
                                                        class="object-cover w-6 h-6 -mx-1 border-2 border-white rounded-full dark:border-gray-700 shrink-0"
                                                        src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=256&q=80"
                                                        alt>
                                                    <img
                                                        class="object-cover w-6 h-6 -mx-1 border-2 border-white rounded-full dark:border-gray-700 shrink-0"
                                                        src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=256&q=80"
                                                        alt>
                                                    <img
                                                        class="object-cover w-6 h-6 -mx-1 border-2 border-white rounded-full dark:border-gray-700 shrink-0"
                                                        src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1256&q=80"
                                                        alt>
                                                    <img
                                                        class="object-cover w-6 h-6 -mx-1 border-2 border-white rounded-full dark:border-gray-700 shrink-0"
                                                        src="https://images.unsplash.com/photo-1560250097-0b93528c311a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=256&q=80"
                                                        alt>
                                                    <p
                                                        class="flex items-center justify-center w-6 h-6 -mx-1 text-xs text-blue-600 bg-blue-100 border-2 border-white rounded-full">+4</p>
                                                </div> -->
                                                <a
                                                    href="/admin/show-page/{{ page.id }}"
                                                    class="px-1 py-1 text-gray-500"
                                                >
                                                   {{ page.updated_at }}
                                                </a>
                                            </td>

                                            <td
                                                class="px-4 py-1 text-sm whitespace-nowrap">
                                                <a
                                                    href="/admin/show-page/{{ page.id }}"
                                                    class="px-1 py-1 text-gray-500"
                                                >
                                                    {{ page.created_by }}
                                                </a>

                                            </td>
                                            <td
                                                class="px-4 py-1 text-sm whitespace-nowrap">
                                                <a
                                                    href="/admin/show-page/{{ page.id }}"
                                                    class="px-1 py-1 text-gray-500"
                                                >
                                                    {{ page.updated_by }}
                                                </a>
                                            </td>

                                            <td
                                                class="px-4 py-1 text-sm whitespace-nowrap">
                                                <a
                                                    href="/admin/edit-page/{{ page.id }}"
                                                    class="px-1 py-1 text-gray-500">
                                                    <i class="w-4 h-4" data-feather="more-vertical"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {{/each}}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-6 sm:flex sm:items-center sm:justify-between ">
                <div class="text-sm text-gray-500 dark:text-gray-400">
                    {{ translate_key "results" ~}} 
                    <span class="font-medium text-gray-700 dark:text-gray-100">
                        {{ page_pagination.pagination.from }} to {{ page_pagination.pagination.to }}
                    </span>
                </div>

                <div class="flex items-center mt-4 gap-x-4 sm:mt-0">
                    <button type="button"
                        {{#if
                            page_pagination.pagination.has_previous_page}}
                            onclick="location = '/admin/page?current_page={{ page_pagination.pagination.previous_page_number }}'"
                        {{else}}
                            disabled
                        {{/if}}
                        class="disabled:opacity-25 disabled:cursor-not-allowed flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md sm:w-auto gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800">
                        <i data-feather="arrow-left" class="h-4 w-4"></i>
                        <span>
                            {{ translate_key "previous" ~}}
                        </span>
                    </button>

                    <button type="button"
                        {{#if page_pagination.pagination.has_next_page }}
                        onclick="location = '/admin/page?page={{ page_pagination.pagination.next_page_number }}'"
                        {{else}}
                        disabled="disabled"
                        {{/if}}
                        class="disabled:opacity-25 disabled:cursor-not-allowed flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md sm:w-auto gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800">
                        <span>
                            {{ translate_key "next" ~}}
                        </span>
                        <i data-feather="arrow-right" class="h-4 w-4"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{{/inline}}

{{> layout/app}}
